<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="body-usuarios">
    <div class="container mt-5 listUsuarios">
        <div class="d-flex align-items-center justify-content-center mb-4" style="height: 40px;">
            <img src="../Elementos Sitio iStrategy/LOGO-AVION-ROJO-iSTRATEGY.png" alt="Logo">
        </div>
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h1 style="color: rgb(255, 255, 255)">Lista de usuarios.</h1>
            <a href="crud.html" class="btn btn-dark">Agregar Usuario</a>
            <a href="login.html" class="btn btn-danger">Cerrar sesión</a>
        </div>

        <div class="container mt-4">
            <h2 class="text-white">Usuarios Activos</h2>
            <div id="activeUsersList"></div>

            <h2 class="mt-5 text-white">Usuarios Inactivos</h2>
            <div id="inactiveUsersList"></div>
        </div>
    </div>

    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar este usuario?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteButton">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            const session = JSON.parse(localStorage.getItem('loggedIn'));

            if (!session) {
                window.location.href = 'login.html';
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../js/scripts.js"></script>
</body>

</html>