<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista no disponible</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/scripts.js"></script>
</head>

<body>
    <div id="edit-container">
        <h1>Accede para poder entrar</h1>
    </div>

    <script>
        $(document).ready(function () {
            setTimeout(function () {
                window.location.href = 'login.html';
            }, 5000);

        });
    </script>
</body>

</html>